.add-remove-wrapper {
    padding: 0px 5px;

    .add-remove-btn{
        color: red;
        font-size: 1.6em;
        font-weight: 900;
        background-color: transparent;
        border: none;
    }

    .add-remove {
        display: grid;
        grid-template-columns: 35px 1fr 35px;
    
        input[type='number'],
        input[type="number"]:hover,
        input[type="number"]:focus {
            -webkit-appearance: none !important;
            margin: 0 !important;
            -moz-appearance: textfield !important;
    }
    }
}    
