.large-price-bar {
    background-color: rgb(231, 231, 231);
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    .only-for {
        font-size: 1.6em;
    }
    .dollar-sign {
        color: rgb(190, 0, 0);
        font-size: 2.5em;
    }
    .slash {
        font-size: 1.5em;
    }
    .unit-price {
        font-size: 2.6em;
        color: rgb(190, 0, 0);
        font-weight: 900;
    }
    .unit {
        font-size: 1.5em;
    }
    
}

@media screen and (max-width: 600px) {
    .large-price-bar {
        font-size: 0.8em !important;
    }
}
