.carousel-list {
    .carousel {
        .add-remove-buttons-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        button {
            background-color: transparent;
        }

    }
    .add-remove-buttons-wrapper {
        opacity: 0;
        transition: opacity 0.2s ease-out 100ms
    }
    .carousel-item:hover .add-remove-buttons-wrapper {
        opacity: 1;
    }
    .add-remove-btn, .add-remove-btn:active:focus, .add-remove-btn:active, .add-remove-btn:focus {
        font-size: 2em;
        color: rgb(190, 0, 0) !important;
        border: none;
        outline: none !important;
        box-shadow: none;
    }
    }
