.carousel-wrapper {

    .carousel {
        margin: 30px 0px;
        }
    .category-name {
        font-weight: 900;
        font-size: 1.6em;
    }
.react-multi-carousel-list {
    overflow: visible !important;
}

}
