.carousel-wrapper {
    margin: 80px 0px;
    .carousel {
        margin: 30px 0px;
        }
    .category-name {
        font-weight: 900;
        font-size: 1.6em;
    }
    .react-multi-carousel-list {
        // overflow: visible !important;
        box-shadow: 0px 0px 3px 0px rgba(190, 0, 0, 0.237);
    }
    .react-multi-carousel-dot-list {
        bottom: -35px !important;
    }
    li.react-multi-carousel-dot button {
        background-color: white;
        border-color: grey;
    }
    li.react-multi-carousel-dot.react-multi-carousel-dot--active button {
        background-color: grey;
        border-color: grey;
    }
}
