.carousel {
    .image-div {
        overflow: hidden;
        width: 140px;
    }
    .image-div img {
        width: 100%;
        height: auto;
    }
    .carousel-item {
        width: 200px;
    }
}