.carousel-item {
    display: grid !important;
    grid-template-rows: 1fr 60px 50px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px rgba(190, 0, 0, 0.237);
    background-color: rgba(255, 0, 0, 0.015);
    min-height: 320px;
    overflow: hidden;
    position: relative;

    .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    
        .image-div {
            max-width: 90%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 20px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .details {
        text-align: center;
        background-color: rgba(190, 0, 0, 0.04);
        .title {
            font-weight: 900;
        }
        .unit-price {
            font-weight: 900;
            font-size: 1.4em;
            color: rgb(190, 0, 0);
        }
        .unit {
            font-size: 0.9em;
        }

    }
}

.react-multiple-carousel__arrow {
    z-index: 1;
}

.react-multiple-carousel__arrow::before {
    font-size: 40px;
    text-shadow: 0px 0px 5px rgb(190, 0, 0);
}


.carousel-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(190, 0, 0, 0.137);
    background-color: rgba(255, 0, 0, 0.05);
}