.login-page {
    form {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
    }
    form>div {
        display: flex;
        flex-direction: column;
    }
    .login-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input::-moz-placeholder, input::-webkit-input-placeholder, input:-ms-input-placeholder {
        opacity: 0 !important;
        color: transparent !important;
       }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:active, 
    input:-webkit-autofill:focus {
        background-color: white !important;
        outline: none !important;
        box-shadow: 0 0 0 30px white inset !important;
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    .submit-div {
        margin-top: 24px;
    }
}