.change-password-page {
        form {
            max-width: 600px;
        }
        input::-moz-placeholder, input::-webkit-input-placeholder, input:-ms-input-placeholder {
            opacity: 0 !important;
            color: transparent !important;
           }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:active, 
        input:-webkit-autofill:focus {
            background-color: white !important;
            outline: none !important;
            box-shadow: 0 0 0 30px white inset !important;
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
        .submit-div {
            margin-top: 24px;
        }
}