.cart {
    .add-remove-buttons-wrapper {
        display: flex;
        justify-content: center;
        align-self: flex-end;
        opacity: 0;
        transition: opacity 0.1s ease-out 100ms;
    }
    
    button {
        background-color: transparent !important;
    }
    
    .cart-item-wrapper:hover .add-remove-buttons-wrapper {
        opacity: 1;
    }
    .add-remove-btn,
    .add-remove-btn:active,
    .add-remove-btn:active:focus,
    .add-remove-btn:hover,
    .add-remove-btn:focus {
        color: rgb(190, 0, 0);
        font-size: 2em;
        border: none;
        outline: none;
        box-shadow: none;
    }
    @media screen and (max-width: 750px) {
        .add-remove-buttons-wrapper {
            opacity: 1;
        }
    }
}
