.cart {
    .add-remove-buttons-wrapper {
        display: flex;
        justify-content: center;
        align-self: flex-end;
        opacity: 0;
        transition: opacity 0.1s ease-out 100ms;
    }
    
    button {
        background-color: transparent !important;
    }
    
    .cart-item-wrapper:hover .add-remove-buttons-wrapper {
        opacity: 1;
    }
    .add-remove-btn {
        color: red;
        font-size: 1.6em;
        border: none;
    }
}
