.cart-bubble-wrapper {
    cursor: pointer;
    display: none;
    .cart-bubble {
        position: fixed;
        bottom: 40px;
        left: 10px;
        z-index: 10;
        border-radius: 50%;
        background-color: white;
        width: 50px;
        height: 50px;
        box-shadow: 0px 0px 6px 0px grey;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.35;
        img {
            width: 60%;
            height: 60%;
        }
    }
    .cart-bubble:hover {
        opacity: 1;
        transition: opacity 300ms;
    }
    .cart-bubble-closed {
        visibility: hidden;
        opacity: 0;
    }
    .cart-bubble-closing {
        visibility: visible;
        transition: opacity 300ms;
        opacity: 0;
    }
    .cart-bubble-open {
        visibility: visible;
        opacity: 0.35;
    }
    .cart-bubble-opening {
        visibility: visible;
        transition: opacity 300ms;
        opacity: 0.35;
    }
    @media screen and (max-width: 750px) {
        display: block;
        .cart-bubble {
            opacity: 1;
        }
    }
    @media screen and (max-width: 471px) {
        .cart-bubble {
            left: 10px;
            bottom: 10px;
            width: 50px;
            height: 50px;
        }
        .cart-bubble-closing {
            opacity: 0 !important;
        }
    }
}