.cart-list-wrapper {
    overflow-y: scroll;
}

.cart-list {
    height: 100%;
}

.cart a {
    text-decoration: none;
    color: initial;
  }

.cart-top-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.no-cart-items-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .no-cart-items {
        font-size: 1.4em;
    }
}

.cart-wrapper {
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 400px;
    z-index: 3;
}

.cart {
    height: 100%;
    box-shadow: 0px 0px 6px 0px rgb(54, 54, 54);
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    background-color: white;
}

