.cart-top-nav-wrapper {
    .cart-top-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgb(190, 0, 0);
        color: white;
    }
}

@media screen and (max-width: 440px) {
    .cart-top-nav-wrapper {
        .greeting {
            margin-top: 45px;
            margin-bottom: 10px;
        }
    }
}