.cart-top-nav-wrapper {
    .cart-top-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(190, 0, 0);
        color: white;
    }
    }