
.all-products-wrapper {
    .add-remove-buttons-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            background-color: transparent !important;
        }
    }
    .add-remove-buttons-wrapper {
        visibility: hidden;
    }
    .all-products-item:hover .add-remove-buttons-wrapper {
        visibility: visible;
    }
    .add-remove-btn {
        color: red;
        font-weight: 900;
        font-size: 2em;
    }

}
