
.all-products-item {
    background-color: white;
    margin: 20px 8px;
    box-shadow: 0px 0px 2px 0px grey;
    height: 350px;
    cursor: pointer;

    .image-wrapper {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .image-wrapper img {
        height: auto;
        width: auto;
        max-width: 170px;
        max-height: 170px;
    }
    .image-wrapper, .details {
        margin: 10px;
    }
}

.all-products-item.hover {
    box-shadow: 0px 0px 6px 0px grey;
}