.order-by-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    .list-group-item {
        border-top: none !important;
        border-bottom: none !important;
        border-left: none !important;
        border-right: none !important;
        padding: 5px 15px !important;
        border-radius: 0px !important;
        color: #212529 !important;
    }

    .list-group-item:hover:not(.active) {
        background-color: rgba(255, 0, 0, 0.05);
    }
    
    .list-group-item.active {
        box-shadow: 0px 0px 2px 0px rgba(255, 0, 0, 0.3) !important;
        background-color: rgba(255, 0, 0, 0.1) !important;
        color: #212529 !important;
        z-index: 1 !important;
    }
    li {
        cursor: pointer
    }
    li:not(:last-child), li.active:not(:last-child) {
        border-right: rgba(255, 0, 0, 0.25) 1px solid !important;
    }
}