.payment-row {
    margin: 5px 0px;
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    .name, .total-price {
        font-weight: 900;
    }
}