.payment-detail-wrapper {
    margin: 20px 0px 40px 0px;
    .payment-detail-header {
        border-bottom: 1px solid grey;
        cursor: pointer;
    }
    .payment-detail {
        margin: 20px 0px;
    }
    .payment-details-box {
        border: 1px solid grey;
        border-radius: 10px;
        padding: 20px;
    }
    .payment-rows {
        padding: 5px 0px ;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .total-wrapper {
        font-weight: 900;
    }
    .collapse-triangle {
        color: rgb(190,0,0)
    }
    .collapse-triangle.open {
        transform: rotate(90deg);
        display: inline-block;
    }
    .date {
        font-weight: 900;
    }
    .total-sum {
        font-weight: 900;
    }
    @media only screen and (max-width: 500px) {
        .purchase-table-wrapper {
            .payment-row-cell, th {
                font-size: 0.8em !important;
            }
        }
        .shipping-table-wrapper {
            .contact-row, th {
                font-size: 0.8em !important;
            }
        }
    }
}