.payment-list-wrapper {
    .collapse-all-btn {
        display: inline-block;
        font-size: 0.9em;
        color: rgb(190, 0, 0);
        cursor: pointer;
    }
    .payment-history-title {
        font-size: 1.6em;
        font-weight: 900;
    }
}