.navbar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    z-index: 2;
    box-shadow: 0px 0px 6px 0px #363636;
    nav.store-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        a {
            text-decoration: none;
            color: initial;
        }
        ul.navbar-link-list {
            position: absolute;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            li {
                a {
                    color: rgb(65, 64, 64) !important;                
                    font-size: 1.3em;
                    font-weight: 900;
                }
                margin: 10px 15px;
            }
        }
        .logo-wrapper {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 5px;
            img {
                width: auto;
                height: 90%;
                filter: grayscale(100%);
            }
            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .user-menu-nav {
            margin: 5px 15px;
            display: flex;
            flex-direction: row;
            span {
                padding: 3px 7px;
            }
        }
        .dropdown {
            display: flex;
            align-items: center;
        }
        .dropdown .btn:active, .dropdown .btn:focus {
            outline: none !important;
            border: none !important;
            box-shadow: none !important;
        }
        #account-dropdown {
            background-color: transparent !important;
            color: initial !important;   
            border: none;
        }
        @media only screen and (max-width: 800px) {
            .logo-wrapper {
                height: 55px;
            }
            .navbar-link-list {
                font-size: 0.9em !important;
            }
            .user-menu-nav {
                font-size: 0.9em !important;
            }
        }
        @media only screen and (max-width: 660px) {
            .logo-wrapper {
                height: 45px;
            }
            .navbar-link-list {
                font-size: 0.70em !important;
            }
            .user-menu-nav {
                display: flex;
                flex-direction: column;
                font-size: 0.9em !important;
            }
        }
        @media only screen and (max-width: 566px) {
            .logo-wrapper {
                height: 40px;
            }
            .navbar-link-list {
                font-size: 0.6em !important;
            }
            .user-menu-nav {
                .btn {
                font-size: 0.8em !important;
                }
            }
        }
        @media only screen and (max-width: 400px) {
            .logo-wrapper {
                height: 35px;
            }
        }

    }
}        
.navbar-wrapper.fixed {
    position: fixed;
    width: 100vw;
}
@media only screen and (max-width: 471px) {
    .navbar-wrapper.fixed {
        position: initial;
        .logo-wrapper {
            height: 40px;
        }
        .navbar-link-list {
            font-size: 0.9em !important;
            flex-direction: column !important;
            transform: translate(-50%, -50%) !important;
            li {
                margin: 2px 15px !important;
                text-align: center;
            }
        }
        .user-menu-nav {
            font-size: 0.9em !important;
        }
    }
}


.navbar-wrapper.with-cart {
    padding-left: 400px;
}