
.store-navbar a {
    text-decoration: none;
    color: initial;
  }

.navbar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    z-index: 2;
}

nav.store-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    width: 100%;

}

ul.navbar-link-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
    li {
        margin: 10px 15px;
    }
}

.logo-wrapper {
    width: 200px;
    height: 80px;
    img {
        width: 100%;
        height: auto;
    }
}

.navbar-wrapper.fixed {
    position: fixed;
    width: 100vw;
}

.navbar-wrapper.with-cart {
    padding-left: 400px;
}